{
  "db": {
    "driver": "mysql",
    "hostname": "localhost",
    "username": "abusetool",
    "password": "abusetool"
  },
  "mailboxes": {
    "wphacks": {
      "hostname": "mail.example.com",
      "username": "username@example.com",
      "password": "example"
    }
  }
}
